<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="db.properties"/>
	<settings>
	    <setting name="cacheEnabled" value="true"/>
	    <setting name="callSettersOnNulls" value="false"/>
	    <setting name="logImpl" value="STDOUT_LOGGING"/>
	 </settings>
	<typeAliases>
		<typeAlias type="com.sist.vo.MemberVO" alias="MemberVO"/>
		<typeAlias type="com.sist.vo.FoodVO" alias="FoodVO"/>
		<typeAlias type="com.sist.vo.TourVO" alias="TourVO"/>
		<typeAlias type="com.sist.vo.BoardVO" alias="BoardVO"/>
		<typeAlias type="com.sist.vo.ReviewVO" alias="ReviewVO"/>
		<typeAlias type="com.sist.vo.FoodLikeVO" alias="FoodLikeVO"/>
		<typeAlias type="com.sist.vo.NoticeVO" alias="NoticeVO"/>
		<typeAlias type="com.sist.vo.JjimVO" alias="JjimVO"/>
	</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="${driver}"/>
				<property name="url" value="${url}"/>
				<property name="username" value="${username}"/>
				<property name="password" value="${password}"/>
				<property name="poolMaximumActiveConnections" value="${maxActive}"/>
				<property name="poolMaximumIdleConnections" value="${maxIdle}"/>
				<property name="poolTimeToWait" value="${maxWait}"/>
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="com/sist/mapper/member-mapper.xml"/>
		<mapper resource="com/sist/mapper/food-mapper.xml"/>
		<mapper resource="com/sist/mapper/main-mapper.xml"/>
		<mapper resource="com/sist/mapper/board-mapper.xml"/>
		<mapper resource="com/sist/mapper/review-mapper.xml"/>
		<mapper resource="com/sist/mapper/food-like-mapper.xml"/>
		<mapper resource="com/sist/mapper/notice-mapper.xml"/>
		<mapper resource="com/sist/mapper/admin-mapper.xml"/>
		<mapper resource="com/sist/mapper/jjim-mapper.xml"/>
		<!--  include -->
	</mappers>
</configuration>